<!DOCTYPE HTML>
<html>
	<head>
		<title>電影小幫手</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/jquery.dropotron.min.js"></script>
		<script src="../static/js/skel.min.js"></script>
		<script src="../static/js/skel-layers.min.js"></script>
		<script src="../static/js/init.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="../static/css/skel.css" />
		<link rel="stylesheet" href="../static/css/style.css" />
		<link rel="stylesheet" href="../static/css/style-wide.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div class="wrapper style1">

				<!-- Header -->
					<div id="header" class="skel-panels-fixed">
						<nav id="nav">
							<ul>
								<li class="active"><a href="">About Us</a></li>
							</ul>
						</nav>
					</div>

				<!-- Banner -->
					<div id="banner" class="container">
						<section>
							<p>讓我們來幫你們挑選電影吧</p>
						</section>
					</div>

				<!-- Extra -->
					<div id="extra">
						<div class="container">
							<div class="row no-collapse-1">
								<section class="4u">
									<h1 style="text-align: center; color: purple;"><strong>Yahoo!電影</strong></h1>
									{% block box1 %}{% endblock box1 %}
								</section>
								<section class="4u">
									<h1 style="text-align: center; color: green;"><strong>豆瓣</strong></h1>
									{% block box2 %}{% endblock box2 %}
								</section>
								<section class="4u">
									<h1 style="text-align: center; color: white;"><strong>PTT院線排行</strong></h1>
									{% block box3 %}{% endblock box3 %}
								</section>
							</div>
						</div>
					</div>
					
				<!-- Main -->
					<div id="main">
						<div class="container">
							<div class="row">

								<!-- Content -->
								<div class="6u">
									<section>
										<ul class="style">
											<li class="fa fa-wrench">
												<h3>Integer ultrices</h3>
												<span>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Maecenas condimentum enim tincidunt risus accumsan.</span> </li>
										</ul>
									</section>
								</div>
								<div class="6u">
									<section>
										<ul class="style">
											<li class="fa fa-cogs">
												<h3>Integer ultrices</h3>
												<span>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Maecenas condimentum enim tincidunt risus accumsan.</span> </li>
										</ul>
									</section>
								</div>
							</div>
						</div>
					</div>
			</div>
			<script>
				// get button id
				var btnId, index = 0;
				var modal, btn, span;
				function getBtnId(id, i) {
					btnId = id
					index = i
					console.log("id is ", id)
					console.log("index is ", i)
					
					// Get the modal
					modal = document.getElementById("m" + btnId);

					// Get the button that opens the modal
					btn = document.getElementById(btnId);

					// Get the <span> element that closes the modal
					span = document.getElementsByClassName("close")[index];

					// When the user clicks the button, open the modal 
					// btn.onclick = function() {
						modal.style.display = "block";
						modal.style.top =window.scrollY-150 + "px"
					// }
				}
				// When the user clicks anywhere outside of the modal, close it
				window.onclick = function(event) {
				  if (event.target == modal) {
					modal.style.display = "none";
				  }
				}
			</script>
	</body>
</html>
